aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx==0.23.3
motor
numpy
opencv-python-headless
pytz
pillow==9.5.0
psutil
py-tgcalls>=2.3.0
pykeyboard
python-dotenv
pyyaml
requests
SafoneAPI
speedtest-cli
spotipy
tgcrypto>=1.2.5
kurigram==3.0.8b2
telegraph
unidecode
youtube-search
youtube-search-python
yt-dlp>=2024.03.10
PyGithub==2.3.0
